<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Spectra downloader</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/design.css')}}">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'scripts/downloader.js')}}"></script>
</head>
<body>
<noscript>
    <div class="nojs">This application does not work without JavaScript. Please turn your JavaScript on
        and refresh the page.
    </div>
</noscript>
<h1>Spectra downloader</h1>
<div class="view1">
    <div id="vot-unselected">
        <div class="frame" id="vot-input-type">
            <h2>SSAP VOTABLE source</h2>
            <p>Select the input method of SSAP VOTABLE.</p>
            <form action="javascript:void(0);">
                <input type="radio" name="vot-input-type" value="link"> Download VOTABLE from URL<br>
                <input type="radio" name="vot-input-type" value="upload"> Upload VOTABLE file<br>
                <input type="radio" name="vot-input-type" value="direct"> Direct VOTABLE input
            </form>
        </div>
        <div class="frame" id="vot-input-link">
            <h2>Download VOTABLE from URL</h2>
            <p>Type in URL to SSAP service endpoint with query parameters.</p>
            <form action="javascript:void(0);">
                <label for="ssap-url">Resource URL:</label><br>
                <input type="text" size="110" id="ssap-url" placeholder="Resource URL"><br>
                <button class="continue-btn" id="url-process">Process</button>
            </form>
        </div>
        <div class="frame hidden" id="vot-input-upload">
            <h2>Upload VOTABLE file</h2>
            <p>Upload a file containing VOTABLE received from SSAP query.</p>
            <form action="javascript:void(0);">
                <input type="file" id="vot-file"><br>
                <button class="continue-btn" id="file-upload">Upload file</button>
            </form>
        </div>
        <div class="frame hidden" id="vot-input-direct">
            <h2>Direct VOTABLE input</h2>
            <p>Type VOTABLE directly into the text input.</p>
            <form action="javascript:void(0);">
                <label for="ssap-textarea">VOTABLE content:</label><br>
                <textarea id="ssap-textarea" rows="20" cols="110" placeholder="VOTABLE XML input"></textarea><br>
                <button class="continue-btn" id="direct-process">Process</button>
            </form>
        </div>
        <img class="progress hidden"
             src={{ url_for('static', filename = 'images/progress.gif') }}>
    </div>
    <div id="vot-selected" class="hidden">
        <div class="frame parse-fail">
            <h2>Parsing results</h2>
            <table>
                <tr>
                    <td>Status</td>
                    <td class="fail">Failed</td>
                </tr>
                <tr>
                    <td>Resource URL</td>
                    <td id="resource-url-fail"></td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td id="error-message"></td>
                </tr>
            </table>
            <button class="back-btn">Back to VOTABLE input</button>
        </div>
        <div class="frame parse-success">
            <h2>Parsing results</h2>
            <table>
                <tr>
                    <td>Status</td>
                    <td id="query_status"></td>
                </tr>
                <tr>
                    <td>Resource URL</td>
                    <td id="resource-url"></td>
                </tr>
                <tr>
                    <td>Record count</td>
                    <td id="record-count"></td>
                </tr>
                <tr>
                    <td>DataLink available</td>
                    <td id="datalink-available"></td>
                </tr>
            </table>
            <button class="back-btn">Back to VOTABLE input</button>
        </div>
        <div class="frame parse-success">
            <h2>Spectra selection list</h2>
            <p>Select which spectra you want to download. You can select
                multiple spectra but you have to choose at least one.</p>
            <form action="javascript:void(0);">
                <select name="spectra" multiple>
                </select><br>
                <button class="select-all" id="select-all-btn">Select all</button>
            </form>
        </div>
        <div class="frame parse-success datalink-available">
            <h2>DataLink protocol options</h2>
            <p>DataLink protocol is available. You can choose if you want to
                use it and if so you can choose DataLink options.</p>
            <form action="javascript:void(0);" id="datalink-form">
            </form>
        </div>
        <div class="frame parse-success">
            <h2>Target directory</h2>
            <p>Enter the target directory for spectra downloading.</p>
            <label for="directory">Directory:</label><br>
            <input type="text" id="directory" size="110" placeholder="Directory">
        </div>
        <div class="parse-success actions">
            <button class="download-btn">Start downloading</button>
            <button class="back-btn">Back to VOTABLE input</button>
        </div>
    </div>
</div>
<div class="view2 hidden">
    <h2>Spectra downloading</h2>
    <h3 id="download-status">Downloading in progress&hellip;</h3>
    <table class="download-log">
        <thead>
        <tr>
            <th>Spectrum file name</th>
            <th>Download link</th>
            <th>Download state</th>
            <th>Problem message</th>
        </tr>
        </thead>
        <tbody id="download-log-body">
        </tbody>
    </table>
    <img class="download-progress"
         src={{ url_for('static', filename = 'images/progress.gif') }}>
</div>
</body>
</html>